
      <div class= "container-fluid m-4">
         <h1>All Blog Posts</h1>
        <div class="row">
        <% @posts.each do |post| %>
          <div class=" card col-md-3 " style=" margin: 5px" >
              <div class="card-body" style="margin: 2px">

                <h5 class="card-title">
	              <%= link_to post.title, post_path(post) %>
                </h5>

	              <p class="card-text">
                <%= post.body %>
                </p>

              </div>
            
          </div>
          <% end %>
        </div> 
      </div>





